body {
  background: ivory;
}
p {
  color: darkgreen;
  font-size: 20px;
}
h1 {
  color: maroon;
  text-align: center;
  text-decoration: underline;
  font-family: inherit;
  font-size: 40px;
}
h3 {
  color: darkslategray;
  font-size: 25px;
}
img {
  float: center;
}
.hehehe {
  background-color: rgb(200,160,10);
}
